<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Имя</th>
    <th>Электронная почта</th>
    <th>Факультет</th>
    <th>Действия</th> <!-- Добавлено поле для действий -->
  </tr>
  </thead>
  <tbody>
  <tr th:each="student : ${students}">
    <td th:text="${student.id}"></td>
    <td th:text="${student.name}"></td>
    <td th:text="${student.email}"></td>
    <td th:text="${student.facultyModel.name}"></td>
    <td>
      <a th:href="@{/student/edit/{id}(id=${student.id})}">Редактировать</a> |
      <a th:href="@{/student/delete/{id}(id=${student.id})}" onclick="return confirm('Вы уверены, что хотите удалить этого студента?');">Удалить</a>
    </td>
  </tr>
  </tbody>
</table>
